body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-wrap: balance;
    font-family: "Trebuchet MS", sans-serif;
    background-color: #0093e9;
    /*background-image: linear-gradient(225deg, #0093e9 0%, #80d0c7 100%);*/
    background: linear-gradient(45deg, #80d0c7, #0093e9, #f1fec6);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease-in-out infinite;
}


}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    color: #29339b;
    font-size: 3rem;
    text-wrap: balance;
}
h2 {
    font-size: 3rem;
    text-wrap: balance;
}
p {
    color: #f1fec6;
    font-size: 2rem;
}
.centered {
    text-align: center;
    hyphens: auto;
    overflow-wrap: break-word;
    border-radius: 3rem;
    margin: 10px;
    padding: 10px;
}
.numbers {
    color: #ff3a20;
}

/*
.button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 16px 19px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    max-width: fit-content;
    text-wrap: balance;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}

*/